th, td {
    border: 1px solid var(--md-typeset-table-color);
    border-spacing: 0;
    border-bottom: none;
    border-left: none;
    border-top: none;
}

.md-typeset__table {
    line-height: 1;
}

.md-typeset__table table:not([class]) {
    font-size: .74rem;
    border-right: none;
}

.md-typeset__table table:not([class]) td,
.md-typeset__table table:not([class]) th {
    padding: 9px;
}

/* light mode alternating table bg colors */
.md-typeset__table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

/* dark mode alternating table bg colors */
[data-md-color-scheme="slate"] .md-typeset__table tr:nth-child(2n) {
    background-color: hsla(var(--md-hue),25%,25%,1)
}

/* Define a darker shade for table headers */
.md-typeset__table th {
    background-color: var(--md-typeset-table-th-bg-color, #e6e6e6); /* Default fallback color */
    color: var(--md-typeset-table-th-color, #000); /* Default fallback text color */
}

/* Override the background and text color for table headers in dark mode */
[data-md-color-scheme="slate"] .md-typeset__table th {
    background-color: var(--md-typeset-table-th-bg-color--dark, #3b3b3b); /* Dark mode header bg color */
    color: var(--md-typeset-table-th-color--dark, #fff); /* Dark mode header text color */
}

/* Light mode header background */
.md-typeset h3 {
    background-color: #f0f0f0; /* A light gray background */
    padding: 0.5em 1em; /* Add some padding */
    border-radius: 8px; /* Rounded corners */
}

/* Dark mode header background */
[data-md-color-scheme="slate"] .md-typeset h3 {
    background-color: #424242; /* A darker background for dark mode */
    color: #ffffff; /* Light text for dark backgrounds */
}

:root {
    --md-admonition-icon--optional: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23757575" viewBox="0 0 24 24"><path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14z"/></svg>'); /* SVG for the checkbox-multiple-blank-outline icon */
  }
  
  .md-typeset .admonition.optional,
  .md-typeset details.optional {
    border-color: var(--md-grey-700); /* Dark gray for border */
    background-color: var(--md-grey-100); /* Light gray for background */
  }
  
  .md-typeset .admonition.optional > .admonition-title,
  .md-typeset details.optional > summary {
    background-color: var(--md-grey-300); /* Medium light gray for title background */
    color: var(--md-grey-800); /* Dark gray for title text */
  }
  
  .md-typeset .admonition.optional > .admonition-title::before,
  .md-typeset details.optional > summary::before {
    background-color: var(--md-grey-700); /* Dark gray for icon background */
    -webkit-mask-image: var(--md-admonition-icon--optional);
            mask-image: var(--md-admonition-icon--optional);
  }
  