/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3443b7;
  --ifm-color-primary-dark: #2f3ca5;
  --ifm-color-primary-darker: #2c399c;
  --ifm-color-primary-darkest: #242f80;
  --ifm-color-primary-light: #3b4bc7;
  --ifm-color-primary-lighter: #4454ca;
  --ifm-color-primary-lightest: #606dd2;
  --ifm-navbar-background-color: hsl(0, 0%, 90%); /* Light shade of gray header */
  --badge-primary-bg: #B3C3E7;
  --badge-primary-border: #5A7AC9;
  --badge-primary-text: #243B73;
  --ifm-menu-color-background-active: hsl(0, 0%, 90%);
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #2e99dc;
  --ifm-color-primary-dark: #228bcd;
  --ifm-color-primary-darker: #2084c2;
  --ifm-color-primary-darkest: #1b6c9f;
  --ifm-color-primary-light: #45a4e0;
  --ifm-color-primary-lighter: #50aae2;
  --ifm-color-primary-lightest: #72bae7;
  --ifm-navbar-background-color: hsl(0, 0%, 15%); /* Dark gray for header */
  --ifm-menu-color-background-active: hsl(0, 0%, 15%);
}
.container {
  max-width: 85% !important;
  margin: 0 auto;
}
/* Light mode header background */
.markdown > h3 {
  background-color: rgb(229, 231, 235); /* A light gray background */
  padding: 0.2em 0.5em; /* Add some padding */
  border-radius: 8px; /* Rounded corners */
  font-weight: bold; /* Bold text */
}

/* Dark mode header background */
html[data-theme='dark'] .markdown > h3 {
  background-color: #424242; /* A darker background for dark mode */
  color: #ffffff; /* Light text for dark backgrounds */
}

